// Max Width:    1200px
// Columns:      12
// Column Width: 70px
// Gutter:       30px

* html .clearfix, *:first-child + html .clearfix { zoom: 1; }

.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

.clearfix:after{
  clear: both;
  content: '';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
}

.container {
  margin: auto;
  width: 100%;
}

.grid_1  { width: 39.166667%; }  /*/  470px /*/
.grid_2  { width: 47.5%; }       /*/  570px /*/

.grid_1, .grid_2 {
  float: left;
  margin: 10px 1.25%;
}

.push_0 { margin-left: 9.58222222%; }
.push_1 { margin-left: 13.75%; }
.push_2 { margin-left: 17.9166667%; }

