/*///RESPONSIVE MEDIA QUERIES///*/

/* General */
@media screen and (max-width: 320px) {
  .nav .container div,
  #work, .grid_9, .grid_12 {
    width: 93.5%;
    margin-left: 3.25%;
    margin-right: 3.25%;
  }
}





/* About */
@media screen and (max-width: 768px) {
  #about {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 534px) {
  #about h1 {
    font-size: 1.8em;
    line-height: 40px;
  }
  #about p {
    font-size: 1em;
    line-height: 22px;
  }
  .about-word {
    font-size: 1.6em;
  }
}



/* Services */
@media screen and (max-width: 1200px) {
  .scroll-words p {
    font-size: 3.5em;
    line-height: 0.5em;
  }
  #services {
  height: 850px;
  }
}

@media screen and (max-width: 1000px) {
  .scroll-words p {
    font-size: 3em;
    line-height: 0.5em;
  }
  #services {
  height: 750px;
  }
}

@media screen and (max-width: 875px) {
  .scroll-words p {
    font-size: 2.8em;
    line-height: 0.8em;
  }
}

@media screen and (max-width: 750px) {
  .scroll-words p {
    font-size: 2.5em;
    line-height: 1em;
  }
}

@media screen and (max-width: 680px) {  /*fix!!!!*/
  .block-2 {
    float: left;
  }
}


/* Clients */
@media screen and (max-width: 940px) {
  .client-area {
    padding: 7% 10% 12%;
  }
}

@media screen and (max-width: 800px) {
  .client-area {
    padding: 7% 8% 12%;
  }
}

@media only screen and (max-width: 735px) {
  div.grid_4 {
    width: 100%; /*not reading, fix!!!!*/
  }
}


/* Back to top */
@media screen and (max-width: 768px) {
  #back-to-top {
    display: none; /*not reading, fix!!!!*/
  }
}


