/*///RESPONSIVE MEDIA QUERIES///*/

/* Navigation */
@media screen and (max-width: 860px) {
  .menu-links {
      position:relative;
      display:inline-block;
  }

  #social-nav {
    display: none;
  }
}
/*----- Hidden items -----*/
.toggle-nav {
    display:none;
    margin-right: 25px;
    font-family: "Vidaloka", serif;
}

#social-nav-mobile a {
  display: none;
  font-family: "Vidaloka", serif;
}
 
/*----- Responsive -----*/
@media screen and (max-width: 860px) {
    .topmenu {
        position:relative;
        display:inline-block;
    }

    #social-nav {
      display: none;
    }
 
    .topmenu ul.active {
      display:none;
    }
 
    .topmenu ul {
        width:100%;
        position:absolute;
        top:100%;
        left:0px;
        padding:18px 18px;
        background: #c7e7dc;
    }
 
    .topmenu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        content:'';
    }
 
    .topmenu li {
        margin:10px 0px 10px 0px;
        float:none;
        display:block;
    }
 
    .topmenu a {
      display:block;
    }
 
    .toggle-nav {
      font-family: "Vidaloka", serif;
      float:right;
      display:inline-block;
    }
 
    .toggle-nav:hover, .toggle-nav.active {
      text-decoration:none;
    }

    #social-nav-mobile a {
      display: inline-block;
      font-family: "Vidaloka", serif;
      font-size: 1.4em;
      text-transform: none;
      padding-top: 10px;
      padding-bottom: 20px;
    }
}

/* About */
@media screen and (max-width: 768px) {
  #about {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 534px) {
  #about h1 {
    font-size: 1.8em;
    line-height: 40px;
  }
  #about p {
    font-size: 1em;
    line-height: 22px;
  }
  .about-word {
    font-size: 1.6em;
  }
  #about img {
  margin: 25px auto;
  display: block;
  width: 100%;
  }
}


/* Love Code */
@media screen and (max-width: 875px) {
  .scroll-words p {
    font-size: 2.8em;
    line-height: 0.8em;
  }
  .love-box {
    margin-top: 120px;
    margin-bottom: 100px;
  }
  .love-box h2 {
    font-size: 1.2em;

  }
}

@media screen and (max-width: 550px) {
  .love-box {
    width: 300px;
    height: 600px;
  }
}

/* Work */
@media screen and (max-width: 950px) {
  #work {
    padding: 40px 100px;
  }
  #work img {
    width: 100%;
    height: auto;
  }
}


/* Hobby */
@media screen and (max-width: 950px) {
  #hobby {
    padding: 40px 100px;
  }
  #hobby img {
    width: 100%;
    height: auto;
  }
}

/* Contact */
@media screen and (max-width: 950px) {
  #contact {
    padding: 40px 100px;
  }
  #contact p {
    text-align: center;
  }
}

@media screen and (max-width: 414px) {
  #contact .about-word {
    text-align: center;
    font-size: 1.3em;
  }
}


