@import url(https://fonts.googleapis.com/css?family=Vidaloka);
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900,900i');

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  letter-spacing: 1px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  outline: none;
  color: #000;
  font: 'Roboto', sans-serif;
  font-weight: 400;
  text-decoration: underline;
}

h1 {
  font: normal 3em "Vidaloka", serif;
  color: #000;
  line-height: 60px;
  letter-spacing: 0;
}

h2 {
  font: bold 1.625em "Vidaloka", serif;
  color: #000;
  letter-spacing: 0;
  margin-top: 30px;
  text-align: center;
}

p {
  font: normal 1.125em 'Roboto', sans-serif;
  line-height: 26px;
  color: #000;
}

ul {
  display: inline;
  position: relative;
  font-size: 0.8em;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0px;
  vertical-align: text-bottom;
}

li {
  display: inline;
  margin-left: 18px;
  margin-right: 18px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

/*///NAV///*/
.social-nav a {
  font-size: 1.8em;
  text-transform: none;
}

.menu-links {
  padding-top: 30px;
  padding-bottom: 50px;
  background: #c7e7dc;
  width: 100%;
  display: block;
  float: none;
  z-index: 4;
}

.menu-links a {
  text-align: center;
  font-family: normal Roboto, sans-serif;
  font-size: 1em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000;
}

/*///ABOUT///*/
#about {
  background-color: #c7e7dc;
  padding: 60px 200px 110px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 3;
  text-align: center;
}

.about-word {
  font-family: "Vidaloka", serif;
  font-size: 1.5em;
}

#about img {
  border: 8px solid #000;
}

/*///LOVE CODE///*/ 
#love {
  margin-left: auto;
  margin-right: auto;
  background-color: #c0c0c0;
  height: 950px;
}

#love p {
  text-align: justify;
  text-align: center;
  line-height: 1em;
}

button {
  padding: 10px 20px;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 18pt;
  border: 3px solid #000;
}

.love-box p {
  font: normal 0.98em 'Roboto', sans-serif;
}

#background .scroll-words {
  background-attachment: scroll;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}

.love-box {
  width: 500px;
  height: 420px;
  background-color: #fff;
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  z-index: 1;
  padding: 20px 40px 20px;
}

.block-1 {
  float: left;
}

.block-2 {
  float: right;
}

.scroll-words p {
  font-size: 4.5em;
  line-height: 0.5em;
  color: #00b3e6;
  font-family: 'Vidaloka', serif;
  text-align: center;
}

/*// WORK///*/
#work {
  padding: 40px 200px 80px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  position: relative;
  z-index: 3;
  overflow: auto;
  width: 100%;
}

#work h1 {
  text-align: center;
}

#work p {
  text-align: center;
}

#work .container {
  width: 100%;
  background-size: auto;
}

#work img {
  margin-bottom: 15px;
  margin-top: 15px;
  float: right;
}

#work .second-col img {
  float: left;
}

/*///HOBBY///*/
#hobby {
  padding: 40px 200px 80px;
  margin-left: auto;
  margin-right: auto;
  background: #c7e7dc;
  position: relative;
  z-index: 3;
  overflow: auto;
  width: 100%;
}

#hobby h1 {
  text-align: center;
}

#hobby p {
  text-align: center;
}

#hobby .container {
  width: 100%;
  background-size: auto;
}

#hobby img {
  margin: 25px auto;
  display: block;
}

/*///CONTACT///*/
#contact {
  padding: 40px 200px 80px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  position: relative;
  z-index: 3;
  overflow: auto;
  width: 100%;
}

#contact h1 {
  text-align: center;
}

#contact p {
  text-align: center;
}

#contact .container {
  width: 100%;
  background-size: auto;
}
